@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "din_condensedbold";
    src: url("/fonts/din_condensed_bold.woff2") format("woff2"),
      url("/fonts/din_condensed_bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "din_condensed_regular";
    src: url("/fonts/din-condensed-regular.woff2") format("woff2"),
      url("/fonts/din-condensed-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "din_condensedlight";
    src: url("/fonts/din-condensed-light.woff2") format("woff2"),
      url("/fonts/din-condensed-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "boogy_brut_poster_webwhite";
    src: url("/fonts/boogy_brut-poster.woff2") format("woff2"),
      url("/fonts/boogy_brut-poster.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "din_condensed_alternate";
    src: url("/fonts/din-condensed-alternate.woff2") format("woff2"),
      url("/fonts/din-condensed-alternate.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  /* DEFAULTS */

  body {
    font-family: "din_condensed_regular", sans-serif;
    font-weight: bold;
    @apply text-primary;

    @media (min-width: 1024px) {
      font-family: "din_condensed_regular";
      font-weight: bold;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    @apply max-w-sm text-[clamp(1rem,0.5455rem+2.2727vw,2rem)] lg:text-[clamp(1rem,0.55rem+1.4vw,2rem)] md:max-w-xl 2xl:max-w-none;
  }
}

@layer utilities {
  .linear-gradient--beige {
    background: linear-gradient(180deg, #ffffff 0%, #f6f5f4 50%, #ddd9d4 100%);
  }

  .boogy-brut {
    font-family: "boogy_brut_poster_webwhite", sans-serif;
  }

  .headline {
    font-family: "boogy_brut_poster_webwhite", sans-serif;
    font-weight: normal;
    line-height: 100%;
    @apply text-accent text-balance section-title-size;
  }

  .section-title-size {
    @apply !text-[clamp(2.5rem,1.3rem+2.5vw,8rem)];
  }

  .section-title-size--medium {
    @apply !text-[clamp(3.75rem,1rem+2.5vw,6rem)];
  }

  .section-title-size--bigger {
    @apply !text-[clamp(4rem,1rem+3vw,8rem)] lg:!text-[clamp(5rem,5rem+3.5vw,14rem)];
  }

  .card {
    @apply text-white rounded-xl p-5;

    h3 {
      @apply text-3xl pl-4 mb-2;
    }
  }

  .instruction-step {
    @apply px-10;

    img {
      @apply mb-4;
    }

    h3 {
      @apply text-xl md:section-title-size leading-[100%];
    }
    p {
      @apply max-w-sm text-balance md:max-w-lg;
    }
  }

  .faq-item {
    h1 {
      @apply headline pl-common-padding relative mt-10 z-20;
    }
    p {
      @apply px-common-padding text-xl mt-10 relative z-10;
    }
  }

  .max-flower-width {
    max-width: 200px;
  }

  .desktop {
    .event-type {
      @apply text-xl font-bold text-black uppercase;
    }

    .event-date {
      @apply text-[clamp(1rem,10vw,8rem)] leading-none text-black font-bold;
    }

    .event-city {
      @apply font-semibold mt-2 text-4xl text-[#AC8586] leading-none;
    }

    .event-address {
      @apply text-xl text-[#AC8586] mt-2;
    }

    .event-details {
      @apply text-lg text-black mt-2;
    }
  }
}
